.sidemenu {
    border: 1px solid black;
    width: 180px;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.sidemenu div, p {
    font-style: none;
}

.popup1 {
    border: 1px solid black;
    width: 387px;
    height: 192px;
    text-align: center;
    padding-top: 50px;
}

.popup2 {
    border: 1px solid black;
    width: 387px;
    height: 192px;
    text-align: center;
    padding-top: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}

.button1 {
    width: 80px;
    height: 30px;
    background: white;
    font-size: 15px;
    margin: auto;
}

.textdeco1 {
    margin: 30px;
    margin-left: 20px;
}

hr {
    width: 150px;
    border: 1px solid black;
}

h3 {
    text-align: center;
}

p {
    font-size: 12px;
}

