.headerStyle {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
    margin-left: -10px;
    padding: 0;
    margin-top: 0;
}

.menubarStyle {
    width: 100vw;
    height: 30px;
    background: #ffe5e5;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: center;
    margin-left: -10px;
    padding: 0;
    margin-top: -10px;
}

.menubarStyle p {
    margin-right: 100px;
    font-size: 15px;    
}