.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1000px;
    border: 1px solid black;

}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 20px;
}

.header hr{
    visibility: hidden;
}

.header button {
    margin-right: 20px;
    width: 100px;
    height: 35px;
}

.tableHr{
    visibility: hidden;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table th, td{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px;
}