.infoContent {
    width: 400px;
    height: 300px;
    line-height: 30px;
    margin-right: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}

.button {
    width: 150px;
    height: 35px;
    background: white;
    font-size: 15px;
    margin-bottom: 40px;
}