.contents {
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}