.modaljoin {
    width: 333px;
    height: 400px;
    background: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    width: 333px;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
}

.inputs {
    margin-top: -20px;
    line-height: 45px;
}

.input {
    width: 278px;
    height: 35px;
    font-size: 16px;
    margin-left: 23.5px;
}

.button {
    width: 286px;
    height: 40px;
    font-size: 16px;
    margin-left: 23.5px;
    justify-content: center;
}

.buttons {
    line-height: 1px;
    margin-bottom: 20px;
    line-height: 45px;
}

.pwd {
    color: hotpink;
    margin-bottom: 10px;
}

.pwd:hover {
    font-size: 17px;
}

.ifjoinorlogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-bottom: -15px;
    line-height: 0px;
}

.joinorlogin {
    color: hotpink;
}

.joinorlogin:hover {
    font-size: 17px;
}

.or {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 0px 10px;
}

.or::before,
.or::after {
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.modalbackdrop {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
    }

.kakaobutton {
    width: 60%;
    height: 50px;
    display: flex;
    margin-left: 70px;
    margin-top: -50px;
    margin-bottom: 30px;
}