.container {
    width: 1080px;
    margin:auto;
}

.headstyle {
    width: 100%;
    height: 150px;
    background: #FFE5E5;
    color: black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: center;
    margin-left: -10px;
    padding-right: 25px;
}

.write {
    margin-left: -50px;
}



.filtercontentsstyle {
    width: 70%;
    height: 650px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    margin-left: 100px;
    padding-right: 25px;
    margin-top: 25px;
    border: 1px solid black;

}

.footerstyle {
    width: 100%;
    height: 150px;
    background: #FFE5E5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -10px;
    margin-bottom: -10px;
    padding-right: 25px;
}

.footertextstyle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-right: 73px;
}

.srvbarstyle{
    width: 100%;
    height: 50px;
    background: #FFE5E5;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: center;
    margin-left: -10px;
    margin-top: -10px;
    padding-right: 25px;
}

.srvbartextstyle{
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;
    margin-right: 73px;
}

.menubarstyle {
    width: 100%;
    height: 35px;
    background: #EBEBEB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;
    margin-left: -10px;
    padding-right: 25px;
}

.menubartextstyle {
    width: 100%;
    height: 35px;
    background: #EBEBEB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;
    margin-left: 10px;
    font-size: 20px;
}

.linktext {
    text-decoration: none;
    color: black;
}

.linktext:hover {
    text-decoration: underline;
}


.filterstyle {
    width: 15%;
    height: 650px;
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: center;
    margin-left: 50px;
    margin-top: 25px;
}

.menucontent {
        display: flex;
        width: 100%;
        background: white;
        height: 700px;
        padding-right: 25px;
}

.contentsstyle {
    width: 60%;
    height: 650px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    margin-left: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid black;

}

.maincontentsstyle {
    width: 90%;
    height: 250px;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
    

}

.searchBox {
    width: 400px;
    height: 35px;
    margin-left: -100px;
    margin-top: 5px;
}

.button {
    width: 50px;
    height: 40px;
    margin-right: -40px;
}

.bestpostinfo {
    width: 200px;
    height: 250px;
    background: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bestpoststyle {
    width: 200px;
    height: 250px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    border: 1px solid black;
    margin: auto;

}

.mainImagesstyle{
    display: flex;
    justify-content: center;
    margin-left: 5px;
}


