.modal {
    width: 900px;
    height: 550px;
    background: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header {
    margin: 10px;
    
}

.ImgArea {
    width: 230px;
    height: 108px;
    border: 1px solid black;
    margin: auto;
}

.MapArea {
    width: 412px;
    height: 327px;
    border: 1px solid black;
    margin-right: 400px;
}

.Side1 {
    width: 267px;
    height: 63px;
    margin-left: 500px;
    margin-top: -430px;
    /* border: 1px solid black; */
}

.Side2 {
    width: 290px;
    height: 141px;
    margin-left: 500px;
    /* border: 1px solid black; */
}

.Side3 {
    width: 283px;
    height: 70px;
    margin-left: 500px;
    /* border: 1px solid black; */
}

.button {
    width: 93px;
    height: 21px;
    margin-left: 20px;
}


.buttons {
    width: 294px;
    height: 37px;
    display:flex;
    margin-left: 580px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.button2 {
    width: 138px;
    height: 35px;
    margin-top: 70px;
    /* margin-right: 70px; */
}

.text1{
    width: 267px;
    height: 26px;
}

.text2{
    width: 283px;
    height: 75px;
}



