.Container {
    width: 1028px;
    height: 540px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: white;

}

.header {
    width: 350px;
    height: 50px;
    background: #F5ECEC;
    
}

.contents {
    width: 1000px;
    height: 480px;
    display: flex;
    flex-direction: row;

}

.Map {
    width: 740px;
    height: 420px;
    border: 1px solid black;
    display: flex;
  
}
.Sidebar {
    width: 280px;
    height: 415px;
    background: #D9D9D9;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Box1 {
    width:218px;
    height:145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.text1 {
    width: 200px;
    height: 25px;
    display: flex;
    border: 1px solid black;
}

.ImgArea {
    width: 220px;
    height: 110px;
    border: 1px solid black;
    background: white;
    
}

.bottomBox {
    margin-bottom : 20px;
    /* border: 1px solid blue; */
}

.bottomBox input {
    width: 200px;
    height: 75px;
}


.Buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.Button {
    width: 150px;
    height: 40px;
    background: #D9D9D9;
}