.item {
    width: 918px;
    height: 50px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.headdate {
    margin: 40px;
}

.headname {
    margin-left: 40px;
}

.postname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
    text-align: center;
}

.text {
    margin: 20px;
}

.postgoodcount {
    margin: 30px;
}