
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.controlModal {
    width: 350px;
    height: 550px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    font-family: 'NanumBarunGothic';
}

.container {
    width: 85%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.smallTitle {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.topBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.topItems {
    margin-right: 50px;
    margin-top: 5px;
}

.midBox {
    border: 1px solid black;
    background-color: #ebebeb;
}

.midContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.midItems {
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonBox {
    display: flex;
    justify-content: space-around;
}

.buttonStyle {
    width: 105px;
    height: 45px;
    background-color: white;
}