.dashmember{
    border: 1px solid none;
    border-radius: 30px;
    width: 533px;
    height: 183px;
    background: lightgray;
    display: flex;
    justify-content: center;
}

.circle1{
    border-radius: 50% ;
    background-color: lightskyblue;
    width: 180px;
    height: 170px;
    color: white;
    text-shadow: 2px 2px black;
    margin: auto;
    text-align: center;;
}

.circle2{
    border-radius: 50% ;
    background-color: lightgreen;
    width: 180px;
    height: 170px;
    color: white;
    text-shadow: 3px 3px black;
    margin: auto;
    text-align: center;;
}

.visitmem {
    border: 1px solid none;
    border-radius: 40px;
    width: 411px;
    height: 183px;
    background-color: lightgray;
    text-align: left;
}

.visit2 {
    display: flex;
    justify-content:space-evenly;
    color: white;
    text-shadow: 1px 1px black;
    line-height: 10px;
    padding-top:20px;
}

.visit3 {
    margin-top: 25px;
}

.bullet1 {
    width: 533px;
    height: 60px;
    background: lightgray;
    text-align: center;
    padding-top: 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.table1 {
    width: 533px;
    background-color: lightgray;
    border-bottom: 1px solid black;
    line-height: 30px;
}

.table1 tr, .table1 th {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.table tr, .table1 td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.request1 {
    width: 188px;
    height: 170px;
    border: 1px solid black;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    display: block;
    text-align: center;
}

.request2 {
    width: 188px;
    text-align: center;
}

.request3 {
    color: blue;
    text-decoration: underline blue;
}

.report1 {
    width: 115px;
    height: 57px;
    text-align: left;
    line-height: 15px;
}

.report2 {
    color: red;
    text-decoration: underline red;
}

.spanCon {
    display: flex;
}
