.maginhead{
    width:100%;
    height:200px;
    background: #FFE5E5;
}
.maginfooter{
    width:100%;
    height:200px;
    background: #FFE5E5;
}

.container {
    width: 1080px;
    margin:auto;
}

.headstyle {
    width: 100%;
    height: 150px;
    background: #FFE5E5;
    color: black;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: center;
    margin-left: -10px;
    padding-right: 25px;
}



.filtercontentsstyle {
    width: 70%;
    height: 650px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    margin-left: 100px;
    padding-right: 25px;
    margin-top: 25px;
    border: 1px solid black;

}


.footerstyle {
    width: 100%;
    height: 150px;
    background: #FFE5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    margin-left: -10px;
    margin-bottom: -10px;
    padding-right: 25px;

}

.srvbarstyle{
    width: 100%;
    height: 50px;
    background: #FFE5E5;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: center;
    margin-left: -10px;
    margin-top: -10px;
    padding-right: 25px;
}

.menubarstyle {
    width: 100%;
    height: 30px;
    background: #EBEBEB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: center;
    margin-left: -10px;
    padding-right: 25px;
    margin-top: 10px;
}


.filterstyle {
    width: 15%;
    height: 650px;
    background: white;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: center;
    margin-left: 50px;
    margin-top: 25px;
}

.menucontent {
        display: flex;
        width: 100%;
        background: white;
        height: 700px;
        padding-right: 25px;
}

.contentsstyle {
    width: 60%;
    height: 650px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    margin-left: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid black;

}

.maincontentsstyle {
    width: 60%;
    height: 300px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    

}

.searchBox {
    width: 30%;
    height: 20%;
}

.bestpoststyle {
    width: 20%;
    height: 300px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid black;

}

.mainImagesstyle{
    width: 100%;
    height: 800px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    
}


