.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 10px;
    margin-bottom: 20px
}

.button {
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    background: black;
    color: white;
    font-size: 1rem;
}

.button:hover {
    background: tomato;
    cursor: pointer;
    transform: translateY(-2px);
}

.button[disabled] {
    background: grey;
    cursor: revert;
    transform: revert;
 }

.button[aria-current] {
    background: deeppink;
    font-weight: bold;
    cursor: revert;
    transform: revert;
}