.bar {
    width: 670px;
    height: 40px;
    border: 1px solid black;
    background: #EBEBEB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sort1 {
    margin-left: 30px;
}

.sort2 {
    display: flex;
    margin-right: 20px;

}